* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #666;
    overflow-y: hidden;
    /* perspective: 600px; */
}

div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transform:
        rotateX(calc(var(--rx) * 360deg)) rotateY(calc(var(--ry) * 360deg)) rotateZ(calc(var(--rz) * 360deg)) translate3d(calc(var(--tx) * var(--voxel)),
            calc(var(--ty) * var(--voxel)),
            calc(var(--tz) * var(--voxel)));

    transform-style: preserve-3d;
}

.animation {
    animation: rotate 5s ease-in-out infinite alternate;
}

@keyframes rotate {
    50% {
        transform: rotateX(calc(var(--rx) * 360deg * 0.7)) rotateY(calc(var(--ry) * 360deg - 360deg)) translateY(calc(var(--ty) * var(--voxel)));
    }

    100% {
        transform: rotateX(calc(var(--rx) * 360deg * 0.4)) rotateY(calc(var(--ry) * 360deg)) translateY(calc(var(--ty) * var(--voxel)));
    }
}

.side {
    position: inherit;
    background: linear-gradient(#f00, #00f);
    border: 1px solid #f00;
    /* opacity: 0.2; */
}